body{
  width:300px;
  font-family:Arial;
  background:#1e1e2f;
  color:white;
  margin:0;
  padding:20px;
}

.container{
  text-align:center;
}

button{
  background:#4CAF50;
  color:white;
  border:none;
  padding:10px 20px;
  border-radius:8px;
  cursor:pointer;
  margin-top:15px;
}

button:hover{
  background:#45a049;
}

#todayStats{
  margin-top:20px;
  text-align:left;
}